*{
	margin:20px; 
	padding: 0; }

body{
	font-family: Georgia !important;
	font-size:15px !important;
	line-height: 1.5;
}

h1{
	top: 200px;
	display: inline;
}

img {
	position: absolute;
	height:250px;
	width:230px;
	left:60%;
	top: 20%;
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	border: 1px solid grey;
	box-shadow: 5px 5px silver;
}


#objective{
    width: 550px;
    height: 100px;
}
	
h3 {   
	font-weight: bold; 
	text-align: right; 
	padding: 10px; 
	width: 150px; 
	float: left; 
	height: 145px; 
	border-right: 3px solid teal; 
}      
        
ul { 
	position:relative;
	display:block;
	top:15px;
	left:50px;
	padding:0.5px;
	margin: 0px 15px;	
	line-height: 0.8 !important;
}
      
.space { 
	clear:both;
	float:none;
	height: 8px !important; 
}
	
a:hover{
    color: red
}

a:visited {
    color: green;
}