*{
	margin:20px; 
	padding: 0; }

body{
	font-family: Garamond;
	font-size:16px;
}

h1{
	top: 200px;
	display: inline;
}

img {
	position: absolute;
	height:200px;
	width:250px;
	left:70%;
	top: 18%;
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	border: 1px solid grey;
	box-shadow: 5px 5px silver;
}

#objective{
    width: 650px;
    height: 100px;
}
	
h3 {   
	font-weight: bold; 
	text-align: right; 
	padding: 10px; 
	width: 150px; 
	float: left; 
	height: 140px; 
	border-right: 3px solid teal;  
}     
        
ul { 
	position:relative;
	display:block;
	top:15px;
	left:50px;
	margin: 0px 15px;
}
      
div.space { 
	clear:both;
	height: 5px; 
}
	
a:hover{
    color: red
}

a:visited {
    color: green;
}